
<app-api-failure *ngIf="usersApiFailure$ | async"></app-api-failure>
<div class="panel add-user">
  <app-add-user (addUser)="onAddUser($event)"></app-add-user>
</div>
<div class="panel list-users">
  <app-list-users
    [users]="users$ | async"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)">
  </app-list-users>
</div>
