<ul *ngIf="users && users.length">
  <li *ngFor="let user of users; let i = index">
    <app-user
      [user]="user"
      [index]="i"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)">
    </app-user>
  </li>
</ul>

<div *ngIf="users && !users.length">
  <p>There are no users.</p>
  <p>You can add new ones using the 'Add user' button at the top of the page</p>
</div>
