button {
  display: inline-block;
  height: 30px;
  min-width: 75px;
  margin: 0 5px 0;
  border: 0;
  border-radius: 3px;
  padding: 8px 12px;
  background: #0078d4;
  color: #fff;
  font-size: 13px;

  &:hover {
    cursor: pointer;
  }
}
