.form-field {

  &__label {
    display: block;
    margin: 0 0 5px;
    font-size: 12px;
  }

  &__validation {
    margin: 7px 0;
    color: #ff0000;
    font-size: 12px;
  }

  &__control {

    padding: 6px;
  }
}
