html {
  height: 100%;
}

body {
  background: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

header {
  height: 100px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
}

main {
  min-height: calc(100vh - 230px);
  padding-top: 30px;
}

footer {
  height: 100px;
  background: #333;
  color: #fff;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
