<div *ngIf="!editMode" class="user">
  <p class="display">{{ user.name }}</p>
  <div class="form-actions">
    <button (click)="toggleMode()" class="form-actions__button">Edit</button>
    <button (click)="onDelete()" class="form-actions__button">Delete</button>
  </div>
</div>

<div *ngIf="editMode" class="user">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="name" class="form-field__label">Enter name</label>
      <input formControlName="name" id="name" type="text" class="form-field__control">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="form-field__validation-message">
        Please enter a valid name
      </div>
    </div>
    <div class="form-actions">
      <button class="form-actions__button">Save</button>
    </div>
  </form>
</div>
