$screen-sm: 450px;

.user {
  position: relative;
  min-height: 60px;

  .display{
    margin: 0;
    padding: 22px 10px;
  }

  .form-field {
    padding: 10px 10px;
  }

  @media screen and (min-width: $screen-sm) {
    padding-right: 180px;
  }
}

.form-actions {
  padding: 0 10px 20px 10px;

  @media screen and (min-width: $screen-sm) {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 0;
  }
}
