<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="name" class="form-field__label">Enter name</label>
    <input formControlName="name" id="name" type="text" class="form-field__control">
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="form-field__validation">
      Please enter a valid name
    </div>
  </div>
  <div class="form-actions">
    <button class="form-actions__button">Add user</button>
  </div>
</form>
